.chat-bg {
  background-color: #FFF7ED;
  background-image: radial-gradient(#fed7aa 0.75px, transparent 0.75px), radial-gradient(#fed7aa 0.75px, #FFF7ED 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
