.whatsapp-bg {
  background-color: #ECE5DD;
  background-image: radial-gradient(#d1c7b7 0.75px, transparent 0.75px), radial-gradient(#d1c7b7 0.75px, #ECE5DD 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
